<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aggregator.loop" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="com.javapapers.currentlocationinmap.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.syt.balram.syt.permission.C2D_MESSAGE" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDJJC3Z7hFCB2Lub_j1AKxjxHC7bl_RwDg" />

        <!-- Launching Activity -->

        <activity
            android:name=".SplashScreen"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Other Activities -->

        <activity
            android:name=".TripHistory"
            android:label="" >
        </activity>
        <activity
            android:name=".SignUpScreen"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name=".ResetPassword"
            android:label=""
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SignIn"
            android:label=""
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".TicketScreen"
            android:label=""
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".LoopProfile"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <!--
        <activity
            android:name=".Routes"
            android:label="@string/title_activity_routes"
             android:windowSoftInputMode="adjustPan"
             >
        </activity>
        -->

        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".OTP"
            android:label="@string/title_activity_otp"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".InviteActivity"
            android:label=""
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HelpActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" >
        </activity>
        <activity
            android:name=".TripFeedback"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name=".BookingNew"
            android:label=""
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PromoCode"
            android:label=""
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".RouteNew"
            android:label="@string/title_activity_route_new"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>

        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.example.balram.syt" />
            </intent-filter>
        </receiver>

        <service android:name=".GCMNotificationIntentService" />
        <service android:name="com.appsee.AppseeBackgroundUploader" />

        <activity
            android:name=".TicketMapFullScreen"
            android:label="" >
        </activity>

        <!--
        <activity
            android:name=".CustomViewTesting"
            android:label="@string/title_activity_custom_view_testing" >
        </activity>
        -->

        <activity
            android:name=".AddLoopCredit"
            android:label="" >
        </activity>
        <activity
            android:name=".TicketTrackBus"
            android:label="" >
        </activity>
        <activity
            android:name=".SuggestRoute"
            android:label="" >
        </activity>
        <activity
            android:name=".Tutorial"
            android:label="@string/title_activity_tutorial" >
        </activity>
        <activity
            android:name=".WebViewLoop"
            android:label="" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
    </application>

</manifest>
